body {
	background-color: #181818;
	margin: 0px 0px;
	overflow: hidden; /* disable scroll functionality */
}

body #wrapper {
	display: flex;
	justify-content: center;
}

#game {
	align-items: center;
	touch-action: manipulation;
}

a, button {
  -ms-touch-action: manipulation; /* IE10  */
  touch-action: manipulation; /* IE11+ */
}
